@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button>
        <a class="nav-link text-dark" asp-controller="Registration" asp-action="Registration">Registration</a>
    </button>
    <button>
        <a class="nav-link text-dark" asp-controller="Authorization" asp-action="Authorization">Authorization</a>
    </button>
</div>