@{
    ViewData["Title"] = "UserRegistration";
}

<h2>@ViewData["Title"]</h2>

@model BetterThanAliexpress.Models.UserRegistrationModel

<form asp-controller="UserRegistration" asp-action="UserRegistration">
    <div>
        <label asp-for="Name">Name:</label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Surname">Surname:</label>
        <input asp-for="Surname"/>
        <span asp-validation-for="Surname"></span>
    </div>
    <div>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber">Phone number:</label>
        <input asp-for="PhoneNumber"/>
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div>
        <label asp-for="DateOfBirthday">Birth date:</label>
        <input asp-for="DateOfBirthday"/>
        <span asp-validation-for="DateOfBirthday"></span>
    </div>
    <div>
        <label asp-for="Login">Login:</label>
        <input asp-for="Login"/>
        <span asp-validation-for="Login"></span>
    </div>
    <div>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="SubmitPassword">Submit password:</label>
        <input asp-for="SubmitPassword"/>
        <span asp-validation-for="SubmitPassword"></span>
    </div>
    <button type="submit">Registration</button>
</form>