@{
    ViewData["Title"] = "AdminPage";
}

<nav>
    <button>
        <a asp-controller="AdminMainPage" asp-action="AdminBuyersManagement">Buyers</a>
    </button>
    <button>Admins</button>
    <button>Sellers</button>
</nav>